@import '_functions.scss';
@import '_variables.scss';

@mixin article {
    color: blue;
    border: 1px solid $color-tertiary;
    font-size: rem(16);
    padding: rem(15);
}

@mixin article2 {
    flex-grow: 1;
    font-size: rem(24);
    border: 1px solid $color-tertiary;
    margin-top: rem(10);
    color: $color-tertiary;
}

div {
    border: 1px solid $color-primary;
    text-align: center;
    margin: rem(10);
    padding: rem(15);
}

div .one {
    display: flex;
    flex-direction: row;
}

div > .one > article {
    @include article();
    
}

div > .two {
    @include article2();
}
div > h1 {
    color: $color-tertiary;
    text-decoration: underline blue;
    
}
div > .one > article:nth-child(odd) {
    color: blue;
}
div > .one > article:nth-child(even) {
    color: $color-primary;
}
